<div class="search-container" autocomplete="keyPress(event)"> 
  <div class="search-box">
      <div class="box-group">
        <input class="input-search" type="text" placeholder="Search ..." ng-model="searchWord" ng-change="search()">
      </div>
    </div>
  </div>
  <div class="result-container" ng-if="results.length > 0">
    <div class="result-box">
      <ul class="result-list">
        <li ng-repeat="result in results" class="result-item">
          <a ng-href="{{result.link}}" target="_blank" ng-class="result.active == true ? 'active' : ''">{{result.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>